<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col col-8 text-center>
          <div class="content-wrapper">
            <h1 translate [translateParams]="">RANKING_TASK.TITLE</h1>
            <p [innerHTML]="'RANKING_TASK.BODY' | translate"></p>

            <ion-list reorder="true" (ionItemReorder)="reorderFeatures($event)">
              <ion-item *ngFor="let feature of rankingTask.features">{{ feature.label }}</ion-item>
            </ion-list>

            <br>

            <div *ngIf="stimuli.participant.age >= 18">
              <p [innerHTML]="'RANKING_TASK.QUESTION_ADULTS' | translate"></p>
              <ion-textarea [(ngModel)]="rankingTask.freeText" rows="4"></ion-textarea>
            </div>
            
          </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
        <ion-col></ion-col>
        <ion-col text-center>
            <button ion-button large (click)="next()">{{'RANKING_TASK.NEXT' | translate}}</button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
  </ion-grid>

  
</ion-content>
