<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col col-8 text-center>
        <div class="content-wrapper">
          <h1 translate [translateParams]="">REWARD.TITLE</h1>
          <p *ngIf="!stimuli.activeOnlyVersion" [innerHTML]="'REWARD.BODY' | translate"></p>

   

          <p class="reward" *ngIf="!stimuli.activeOnlyVersion">{{ getTotalReward() }} €</p>


          <br>

          <strong *ngIf="stimuli.onlineVersion">
            Now please go back to the Mturk page and enter the following completion code: <br><br>
            <span class="reward">MTT-ONLINE-2018</span>
          </strong>

        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col text-center>
        <button *ngIf="!stimuli.onlineVersion" ion-button large (click)="next()">{{'RESTART_GAME' | translate}}</button>
        <!-- <button *ngIf="stimuli.onlineVersion" ion-button large (click)="nextOnlineVersion()">{{'END_EXPERIMENT' | translate}}</button> -->
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
