<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
                   

                    <h3>Study Information and Statement of Informed Consent for Adult Participants</h3>
                    <p>
                      Thank you very much for your interest in participating in our “MTT” (Monster Top Trumps) study. Please take your time to read this text carefully. By accepting this form, you agree that you have read and accepted the conditions listed below and that you consent to participate in the study.
                    </p>
        
                    <h3>1. Aim of the study</h3>
                    <p>
                    In the “MTT” study, we want to investigate how people learn about relationships between pieces of information and certain outcomes under different learning conditions.
                    </p>
        
                    <h3>2. Procedure and content of the study</h3>
                    <p>
                    To do this, we will ask you to play a browser-based card game with some (friendly) monsters. These monsters collect fruits, and the number of fruits collected depends on three of their features: how friendly, cheeky and funny they are. The goal of the game is to learn to predict how many fruits were collected by a monster, given their “friendly”, “cheeky” and “funny” scores. You will first see the game instructions, then start with a training phase, followed by two test tasks. 
                    The study will last approximately 20 minutes. You will be paid a compensation of 2$ for your participation and can earn a performance-based bonus. Please note that we can only pay you if you complete the study and if you read everything carefully. We will ask you to answer some simple questions about the instructions, your task and the scenario at the beginning, which you need to answer correctly in order to participate and be paid. If you answer a question wrong, you can do the questionnaire again; you will be able to do this 3 times. After three attempts, if you have answered incorrectly, you will not be able to participate in the study. 
                    </p>
        
                    <h3>3. Are there any risks involved?</h3>
                    <p>There are no risks involved.</p>
        
                    <h3>4. What will happen to the information and data collected?</h3>
                    <p>
                    This study is a research project of the Max Planck Institute (MPI) for Human Development in Berlin, Germany. The data collected will be used for research purposes only. 
                    Your Amazon Worker ID and experimental data will be stored separately from each other and handled with utmost discretion. Your Worker ID will be linked to a random code until payment. Afterwards, your Worker ID will be deleted from the data to ensure full anonymity. Participation in the study is voluntary and you can end your participation at any time before payment (because data becomes unidentifiable after this point). Should you choose to end your participation before the experiment is finished, you will not be remunerated.
                    The study data (but not personal data) may be shared with cooperation partners for collaborative analysis. The study data may also be made publicly accessible via research databases or scientific publications (typically via the Internet). This makes it possible for other researchers to check or replicate the results and enhances the quality of scientific research. The study data may also be used for new research questions going beyond the purposes of this particular study. Please note that once material has been made publicly accessible, its further distribution by others cannot be ruled out, and that this is beyond the area of influence or responsibility of the MPI for Human Development. As a matter of principle, study data are therefore only transferred or made publicly accessible without personal contact data.  
                    </p>
        
                    <h3>5. Participation is voluntary</h3>
                    <p>
                    Participation in this study is voluntary. You may withdraw from the study at any time (before payment) without giving any reason and without any negative consequences. You can do this by contacting Angela Jones (jones@mpib-berlin.mpg.de). 
                    </p>
        
                    <h3>6. Consent</h3>
                    <p>
                    This document has informed you about participation in the “MTT” study. The study involves one 20-minute session. You will receive a compensation of 2$ for your participation in the study, plus a bonus that is dependent on your performance after training. If you decide to terminate your participation before the end of the study, we will not be able to compensate you.
                    I have read and understood the conditions outlined above, and I have been given detailed information on the study. 
                    I consent to participate in the study and agree to the collection, storage, and use of my data as described above.
                    </p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>Do you understand and consent to these terms?</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

